.sidebar {
  background-color: var(--sidebar-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-radius: 0 20px 20px 0;
  height: 100vh;
  width: 103px;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  transition: background-color 0.3s ease;
}

.sidebar-logo {
  background-color: var(--primary);
  height: 103px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  position: relative;
  overflow: hidden;
}

.sidebar-logo::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-hover);
  border-radius: 20px 0 20px 0;
  z-index: 1;
}

.sidebar-logo svg {
  z-index: 2;
  position: relative;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.theme-toggle {
  background: transparent;
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle:hover svg {
  color: var(--text-secondary);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #494E6E;
}

.avatar {
  padding: 24px 0;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (max-width: 1023px) {
  .sidebar {
    height: 80px;
    width: 100%;
    flex-direction: row;
    border-radius: 0;
    position: relative;
  }

  .sidebar-logo {
    width: 80px;
    height: 80px;
    border-radius: 0 20px 20px 0;
  }

  .sidebar-bottom {
    flex-direction: row;
    width: auto;
  }

  .theme-toggle {
    padding: 0 32px;
  }

  .divider {
    width: 1px;
    height: 80px;
  }

  .avatar {
    padding: 0 32px;
  }
}
